# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# working folders
/temp
/lib
/sql
/web
/build
/.idea

# Project Genereated files
.pmd
.gradle
.project
.classpath
.settings
.idea
target
bin
*.iml
*.bak
.env*
classes
.DS_Store
*.local
nb-configuration.xml
.externalToolBuilders
maven-eclipse.xml
dependency-reduced-pom.xml
src/main/java/org/reso/service/data/definition/custom/*.java
src/main/java/org/reso/service/data/definition/ContactListingNotesDefinition.java
src/main/java/org/reso/service/data/definition/ContactListingsDefinition.java
src/main/java/org/reso/service/data/definition/ContactsDefinition.java
src/main/java/org/reso/service/data/definition/HistoryTransactionalDefinition.java
src/main/java/org/reso/service/data/definition/InternetTrackingDefinition.java
src/main/java/org/reso/service/data/definition/MediaDefinition.java
src/main/java/org/reso/service/data/definition/MemberDefinition.java
src/main/java/org/reso/service/data/definition/OfficeDefinition.java
src/main/java/org/reso/service/data/definition/OpenHouseDefinition.java
src/main/java/org/reso/service/data/definition/OtherPhoneDefinition.java
src/main/java/org/reso/service/data/definition/OUIDDefinition.java
src/main/java/org/reso/service/data/definition/PropertyDefinition.java
src/main/java/org/reso/service/data/definition/PropertyGreenVerificationDefinition.java
src/main/java/org/reso/service/data/definition/PropertyPowerProductionDefinition.java
src/main/java/org/reso/service/data/definition/PropertyRoomsDefinition.java
src/main/java/org/reso/service/data/definition/PropertyUnitTypesDefinition.java
src/main/java/org/reso/service/data/definition/ProspectingDefinition.java
src/main/java/org/reso/service/data/definition/QueueDefinition.java
src/main/java/org/reso/service/data/definition/RulesDefinition.java
src/main/java/org/reso/service/data/definition/SavedSearchDefinition.java
src/main/java/org/reso/service/data/definition/ShowingDefinition.java
src/main/java/org/reso/service/data/definition/SocialMediaDefinition.java
src/main/java/org/reso/service/data/definition/TeamMembersDefinition.java
src/main/java/org/reso/service/data/definition/TeamsDefinition.java
