# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# working folders
/temp

# Project Genereated files
.pmd
.gradle
.project
.classpath
.settings
.idea
target
bin
*.iml
*.bak
classes
.DS_Store
*.local
nb-configuration.xml
.externalToolBuilders
maven-eclipse.xml
dependency-reduced-pom.xml
